/* Estilos globais */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul,
html,
body {
    margin: 0;
    padding: 0;
}

html,
body {height: 100%;}

body {
    background-color: #ffffff;
    font-family: 'Effra-Light', Arial, Tahoma;
    font-size: 14px;
    min-width: 320px;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
}

footer,
section {
    float: left;
    width: 100%;
}

section {overflow: hidden;}

.container {
    margin: 0 auto;
    max-width: 1137px;
    padding: 0 30px;
}

// Sprite
.sprite {
    background: url("../img/sprite-img.png") no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -9999px;

    &.facebook {background-position: 0 0;}
    &.twitter {background-position: -26px 0;}
    &.google-plus {background-position: -53px 0;}

    &.logo {background-position: 0 -40px;}
    &.logo-small {background-position: 0 -26px;}

    &.arrow {background-position: -79px 0;}
}

// Content
.content {
    &.right {
        float: right;
        width: 320px;
    }

    & > h2 {
        color: $pink;
        font-size: 2.500em;
        font-weight: 400;
        line-height: 1em;
        margin: 0;
        text-transform: uppercase;
    }

    & > p {
        color: #333;
        font-size: 1.100em;
        line-height: 1.201em;
        margin: 20px 0;

        &:last-child {margin-bottom: 0}
    }
}

// Menu
#menu {
    position: fixed;
    right: 27px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;

    & > ul {
        list-style: none;

        & > li {
            margin-bottom: 5px;

            &:last-child {margin-bottom: 0;}

            .dot {
                background-color: #bdbdbe;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                display: block;
                height: 9px;
                width: 9px;
            }

            &.active .dot {background-color: #e31937;}
        }
    }
}

// Home
#home {
    background: url("../img/tesla-promo.jpg") center no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;

    & > h1 {
        height: 171px;
        width: 121px;
        left: 0;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-75%);
        transform: translateY(-75%);

        span {
            height: 171px;
            width: 121px;
        }
    }

    & .home-arrow {
        bottom: 63px;
        height: 19px;
        left: 50%;
        margin-left: -18px;
        position: absolute;
        width: 36px;

        animation: floatingAnimation 1s ease infinite alternate;
        -o-animation: floatingAnimation 1s ease infinite alternate;
        -ms-animation: floatingAnimation 1s ease infinite alternate;
        -moz-animation: floatingAnimation 1s ease infinite alternate;
        -webkit-animation: floatingAnimation 1s ease infinite alternate;
    }
}

// Gallery
#gallery {
    background-color: #ebebeb;

    & > .gallery {
        .owl-controls {
            left: 0;
            position: absolute;
            width: 100%;
            z-index: 2;
        }

        .owl-dots {
            text-align: center;

            & > .owl-dot {
                background-color: rgba(255, 255, 255, .4);
                -webkit-border-radius: 50%;
                border-radius: 50%;
                display: inline-block;
                margin: 0 3px;
                height: 9px;
                width: 9px;

                &.active {background-color: #FFF;}
            }
        }
    }

    img {
        height: auto;
        width: 100%;
    }
}

// Footer
footer {
    background-color: $pink;
    color: #FFF;
    font-size: 0.857em;
    overflow: hidden;
    padding: 25px 0 35px;
    text-align: center;

    .logo-small {
        float: left;
        height: 13px;
        width: 97px;
    }

    .logo-small + span {
        display: inline-block;
    }

    .logo-small,
    .logo-small + span {margin-top: 10px;}

    ul {
        float: right;

        & > li {
            float: left;
            margin-right: 8px;

            &:last-child {margin-right: 0;}

            span {
                height: 25px;

                &.facebook,
                &.google-plus {width: 25px;}

                &.twitter {width: 26px;}
            }
        }
    }
}

// Animation
@keyframes floatingAnimation {
  0% {transform: translate(0px, 0px);}
  100% {transform: translate(0px, -6px);}
}

@-moz-keyframes floatingAnimation {
  0% {-moz-transform: translate(0px, 0px);}
  100% {-moz-transform: translate(0px, -6px);}
}

@-webkit-keyframes floatingAnimation {
  0% {-webkit-transform: translate(0px, 0px);}
  100% {-webkit-transform: translate(0px, -6px);}
}

@-o-keyframes floatingAnimation {
  0% {-o-transform: translate(0px, 0px);}
  100% {-o-transform: translate(0px, -6px);}
}

@-ms-keyframes floatingAnimation {
  0% {-ms-transform: translate(0px, 0px);}
  100% {-ms-transform: translate(0px, -6px);}
}
